In [9]:
import pandas
import ast

In [10]:
creditsDf= pandas.read_csv('Movies Dataset/credits.csv')
creditsDf.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [11]:
cell= ast.literal_eval(creditsDf.iloc[0]['cast'])

In [12]:
cell[0]

{'cast_id': 14,
 'character': 'Woody (voice)',
 'credit_id': '52fe4284c3a36847f8024f95',
 'gender': 2,
 'id': 31,
 'name': 'Tom Hanks',
 'order': 0,
 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}

In [13]:
keywordsDf=pandas.read_csv('Movies Dataset/keywords.csv')
keywordsDf.columns

Index(['id', 'keywords'], dtype='object')

In [14]:
linksDf= pandas.read_csv('Movies Dataset/links.csv')
linksDf=linksDf.rename(columns={'tmdbId':'id'})
for i in range(len(linksDf['imdbId'])):
    linksDf['imdbId'][i]='tt'+'0'*(7-len(str(linksDf['imdbId'][i])))+str(linksDf['imdbId'][i])
linksDf.head()

/home/mathangi/anaconda3/envs/lehigh/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/mathangi/anaconda3/envs/lehigh/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

   movieId     imdbId       id
0        1  tt0114709    862.0
1        2  tt0113497   8844.0
2        3  tt0113228  15602.0
3        4  tt0114885  31357.0
4        5  tt0113041  11862.0

In [15]:
metaDataDf= pandas.read_csv('Movies Dataset/movies_metadata.csv')
# metaDataDf=metaDataDf['id'].astype('int64')
metaDataDf['imdb_id']

/home/mathangi/anaconda3/envs/lehigh/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0        tt0114709
1        tt0113497
2        tt0113228
3        tt0114885
4        tt0113041
           ...
45461    tt6209470
45462    tt2028550
45463    tt0303758
45464    tt0008536
45465    tt6980792
Name: imdb_id, Length: 45466, dtype: object

In [16]:
# ratingsDf= pandas.read_csv('ratings.csv')
# ratingsDf.columns

In [17]:
combinedDf= pandas.DataFrame()
combinedDf= pandas.concat([combinedDf,creditsDf],axis=1)
combinedDf = combinedDf.merge(keywordsDf, on='id', how = 'inner')
combinedDf = combinedDf.merge(linksDf, on='id', how = 'inner')
combinedDf['id']=combinedDf['id'].astype('object')
combinedDf = combinedDf.merge(metaDataDf, how='inner', left_on='imdbId', right_on='imdb_id')
combinedDf=combinedDf.drop('id_y', axis=1)
combinedDf=combinedDf.rename(columns={'id_x':'id'})
combinedDf.columns

Index(['cast', 'crew', 'id', 'keywords', 'movieId', 'imdbId', 'adult',
       'belongs_to_collection', 'budget', 'genres', 'homepage', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [18]:
combinedDf.to_csv('Movies Dataset/allData.csv')