In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
import pymongo

In [2]:
client = pymongo.MongoClient('mongodb+srv://mathangi_s:Meenakshi12@cluster0-mvtbq.mongodb.net/test?retryWrites=true&w=majority')
print(client.list_database_names())

ConfigurationError: query() got an unexpected keyword argument 'lifetime'

In [0]:
rating = pd.read_csv('ratings_small.csv')
# rating = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
# user = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
# book = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
movies= pd.read_csv('allData.csv')
# movies.columns
movie_rating= pd.merge(rating,movies, on='movieId')
# book_rating = pd.merge(rating, book, on='ISBN')
# cols = ['Year-Of-Publication', 'Publisher', 'Book-Author', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']
# book_rating.drop(cols, axis=1, inplace=True)
# print(rating.describe())
# print(user.describe())
# print(book.describe())
movie_rating.head()

   userId  movieId  rating  ...  video  vote_average vote_count
0       1       31     2.5  ...  False           6.4      249.0
1       7       31     3.0  ...  False           6.4      249.0
2      31       31     4.0  ...  False           6.4      249.0
3      32       31     4.0  ...  False           6.4      249.0
4      36       31     3.0  ...  False           6.4      249.0

[5 rows x 33 columns]

In [0]:
rating_count = (movie_rating.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'RatingCount_movie'})
     [['title', 'RatingCount_movie']]
    )
    
threshold = 25
rating_count = rating_count.query('RatingCount_movie >= @threshold')

user_rating = pd.merge(rating_count, movie_rating, left_on='title', right_on='title', how='left')

user_count = (user_rating.
     groupby(by = ['userId'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'RatingCount_user'})
     [['userId', 'RatingCount_user']]
    )
    
threshold = 20
user_count = user_count.query('RatingCount_user >= @threshold')

combined = user_rating.merge(user_count, left_on = 'userId', right_on = 'userId', how = 'inner')

print('Number of unique books: ', combined['title'].nunique())
print('Number of unique users: ', combined['userId'].nunique())

Number of unique books:  1042
Number of unique users:  617

In [0]:
scaler = MinMaxScaler()
combined['rating'] = combined['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['rating'].values.reshape(-1,1)))
combined['rating'] = rating_scaled

In [0]:
combined = combined.drop_duplicates(['userId', 'title'])
user_movie_matrix = combined.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)
users = user_movie_matrix.index.tolist()
books = user_movie_matrix.columns.tolist()
user_movie_matrix = user_movie_matrix.values

In [0]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [0]:
num_input = combined['title'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [0]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [0]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)
y_pred = decoder_op
y_true = X
y_pred

In [0]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

In [0]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

In [0]:
with tf.Session() as session:
    epochs = 100
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_movie_matrix.shape[0] / batch_size)
    user_movie_matrix = np.array_split(user_movie_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_movie_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_movie_matrix = np.concatenate(user_movie_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_movie_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='rating')
    pred_data.columns = ['userId', 'title', 'rating']
    pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
    pred_data['title'] = pred_data['title'].map(lambda value: books[value])
    
    keys = ['userId', 'title']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('userId').head(10)
    save_path = saver.save(session, "modelMovies.ckpt")

epoch: 1 Loss: 0.33833373644772696
epoch: 2 Loss: 0.33781561956686135
epoch: 3 Loss: 0.3365391352597405
epoch: 4 Loss: 0.33336906748659473
epoch: 5 Loss: 0.32540815542725954
epoch: 6 Loss: 0.3067488705410677
epoch: 7 Loss: 0.28044164881986733
epoch: 8 Loss: 0.2607249337084153
epoch: 9 Loss: 0.2341661234112347
epoch: 10 Loss: 0.18452436520772822
epoch: 11 Loss: 0.11255555512274013
epoch: 12 Loss: 0.06344259617959752
epoch: 13 Loss: 0.04900664595120093
epoch: 14 Loss: 0.046675877755179125
epoch: 15 Loss: 0.04587460747536491
epoch: 16 Loss: 0.045709810055354065
epoch: 17 Loss: 0.04561564567334512
epoch: 18 Loss: 0.045370681101784986
epoch: 19 Loss: 0.04474226648316664
epoch: 20 Loss: 0.04388778284192085
epoch: 21 Loss: 0.043004058520583546
epoch: 22 Loss: 0.04235058617504204
epoch: 23 Loss: 0.04168560936608735
epoch: 24 Loss: 0.0412129697335117
epoch: 25 Loss: 0.04097398918341188
epoch: 26 Loss: 0.040707687682965225
epoch: 27 Loss: 0.040458125884042066
epoch: 28 Loss: 0.04023068705025841
epoch: 29 Loss: 0.04011336418197436
epoch: 30 Loss: 0.03999417625805911
epoch: 31 Loss: 0.03975356819436831
epoch: 32 Loss: 0.03968062690075706
epoch: 33 Loss: 0.039576449486262655
epoch: 34 Loss: 0.03948250204762992
epoch: 35 Loss: 0.039388306110220796
epoch: 36 Loss: 0.03922388045226827
epoch: 37 Loss: 0.039103748057694995
epoch: 38 Loss: 0.03902300589663141
epoch: 39 Loss: 0.038917074966080045
epoch: 40 Loss: 0.038702099748394066
epoch: 41 Loss: 0.03855921076062847
epoch: 42 Loss: 0.03838125605355291
epoch: 43 Loss: 0.03818803192938075
epoch: 44 Loss: 0.0380637037622578
epoch: 45 Loss: 0.0379732804482474
epoch: 46 Loss: 0.037807739065850485
epoch: 47 Loss: 0.03764767079230617
epoch: 48 Loss: 0.03752364985206548
epoch: 49 Loss: 0.03742141681997215
epoch: 50 Loss: 0.03738433593774543
epoch: 51 Loss: 0.037209728075300944
epoch: 52 Loss: 0.03720784307840992
epoch: 53 Loss: 0.03704417321611853
epoch: 54 Loss: 0.03694908331860514
epoch: 55 Loss: 0.036850587848354786
epoch: 56 Loss: 0.03684051115723217
epoch: 57 Loss: 0.03674338736078318
epoch: 58 Loss: 0.03666129949338296
epoch: 59 Loss: 0.03661398677264943
epoch: 60 Loss: 0.036492613965974134
epoch: 61 Loss: 0.03640065386014826
epoch: 62 Loss: 0.036325189339763975
epoch: 63 Loss: 0.0363247562199831
epoch: 64 Loss: 0.036224438644507355
epoch: 65 Loss: 0.03618158443885691
epoch: 66 Loss: 0.036191277425078786
epoch: 67 Loss: 0.03604892235906685
epoch: 68 Loss: 0.03598271967733607
epoch: 69 Loss: 0.0359941590577364
epoch: 70 Loss: 0.035907731227138466
epoch: 71 Loss: 0.03585604107116952
epoch: 72 Loss: 0.035829447867239225
epoch: 73 Loss: 0.03575896964791943
epoch: 74 Loss: 0.03566115086569505
epoch: 75 Loss: 0.03562343679368496
epoch: 76 Loss: 0.03561549359822974
epoch: 77 Loss: 0.03557530582389411
epoch: 78 Loss: 0.035531503093593264
epoch: 79 Loss: 0.03549332292202641
epoch: 80 Loss: 0.0354287560810061
epoch: 81 Loss: 0.0353188550866702
epoch: 82 Loss: 0.03535893427975038
epoch: 83 Loss: 0.03537179485839956
epoch: 84 Loss: 0.035211141604711026
epoch: 85 Loss: 0.03519012965261936
epoch: 86 Loss: 0.03517076340230072
epoch: 87 Loss: 0.035184482222094256
epoch: 88 Loss: 0.03509529701927129
epoch: 89 Loss: 0.03521615946117569
epoch: 90 Loss: 0.034980722867390686
epoch: 91 Loss: 0.03495405745856902
epoch: 92 Loss: 0.03495888138080344
epoch: 93 Loss: 0.03487076807548018
epoch: 94 Loss: 0.03480010994655244
epoch: 95 Loss: 0.034903361188138235
epoch: 96 Loss: 0.034815877347308045
epoch: 97 Loss: 0.034802494899314994
epoch: 98 Loss: 0.03484141366446719
epoch: 99 Loss: 0.034747384707717335
epoch: 100 Loss: 0.0347345437416259

In [0]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 27]

       userId                            title    rating
25284      27                            Fargo  0.255970
25823      27                    The Godfather  0.251291
25929      27         The Shawshank Redemption  0.213074
25302      27                     Forrest Gump  0.172994
25292      27                       Fight Club  0.150646
25824      27           The Godfather: Part II  0.142860
25721      27                        Star Wars  0.127377
25560      27  One Flew Over the Cuckoo's Nest  0.119471
25983      27                        Toy Story  0.112887
25022      27               A Clockwork Orange  0.102523

In [0]:
movie_rating.loc[movie_rating['userId'] == 27].sort_values(by=['rating'], ascending=False)

       userId  movieId  rating  ...  video  vote_average vote_count
34116      27     1704     5.0  ...  False           7.9     2880.0
6903       27      527     5.0  ...  False           8.3     4436.0
76232      27       73     5.0  ...  False           6.6        8.0
11211      27     2762     5.0  ...  False           7.7     3223.0
11423      27     2858     5.0  ...  False           7.9     3438.0
406        27     1343     4.0  ...  False           7.0      692.0
76245      27     1892     4.0  ...  False           6.3      320.0
52245      27     2712     4.0  ...  False           7.1     1266.0
48760      27     1610     4.0  ...  False           7.2      971.0
38239      27     2501     4.0  ...  False           7.4      259.0
37731      27     1584     4.0  ...  False           7.2     1338.0
29617      27     1639     4.0  ...  False           6.7      441.0
1450       27       50     4.0  ...  False           8.1     3334.0
29083      27      111     4.0  ...  False           8.1     2632.0
26186      27     2502     4.0  ...  False           7.4     1068.0
17105      27     1213     4.0  ...  False           8.2     3211.0
8579       27      593     4.0  ...  False           8.1     4549.0
3666       27      296     4.0  ...  False           8.3     8670.0
38018      27     2391     3.0  ...  False           6.9      191.0
10571      27     1721     3.0  ...  False           7.5     7770.0
38051      27     2396     2.0  ...  False           6.8      831.0
76268      27     2356     2.0  ...  False           6.0      113.0
52158      27     2710     1.0  ...  False           6.3     1090.0

[23 rows x 33 columns]